body
  color #fff
  background #000
  margin 0
  padding 0

#app
  display flex
  justify-content center
  align-items flex-end
  flex-wrap wrap
  height 100vh
  width 100vw
  position relative

// for loading.vue (.vueに書いたstyleから背景読み込みがscssでもstylusでも出来なかった)
.bus
  $busImages = large, kids1, kids2, girl, man, dog, cat
  $leftBuffer = 50px

  for $img in $busImages
    &--{$img}
      $filePath = '../images/bus/' + $img + '.png'
      $width = image-size($filePath)[0] / 2
      $height = image-size($filePath)[1] / 2
      width $width
      height $height
      // parcelのバグで url($filePath) とするとCannot resolve dependencyとなり、loaderがうまく働かない
      // background-image url($filePath)

  &--large
    background-image url('../images/bus/large.png')
    top 0
    left 0
    z-index 10

  &--kids1
    background-image url('../images/bus/kids1.png')
    top 48px
    left 70px + $leftBuffer

  &--kids2
    background-image url('../images/bus/kids1.png')
    top 50px
    left 96px + $leftBuffer

  &--girl
    background-image url('../images/bus/girl.png')
    top 49px
    left 109px + $leftBuffer

  &--cat
    background-image url('../images/bus/cat.png')
    top 55px
    left 84px + $leftBuffer

  &--dog
    background-image url('../images/bus/dog.png')
    top 56px
    left 138px + $leftBuffer

  &--man
    background-image url('../images/bus/man.png')
    top 48px
    left 124px + $leftBuffer
